.DS_Store
*.a
*.o
*.out
*.swp
minishell
minishell_tester/
42_minishell_tester
.build
.vscode
obj
*out*
docs
html
latex

infile
outfile
file*.txt
input*
output*
.history.tmp
.heredoc*
tmp_err_bash
tmp_err_minishell

