Anya Zinchenko <azinchen@student.hive.fi> <Vadimshpilevskiy@gmail.com>
Anya Zinchenko <azinchen@student.hive.fi> <vshpilev@c1r6p2.hive.fi>

Seela Salorinta <seela.salorinta@gmail.com> <jkarhu95@gmail.com>
Seela Salorinta <44392065+SeelaSalorinta@users.noreply.github.com> <jkarhu95@gmail.com>
Seela Salorinta <seelasalorinta@Seela-MacBook-Pro.local> <jkarhu95@gmail.com>

